         .row{
            margin: 5px;
          }
 
         .col-1{
            background-color: rgb(73, 212, 205);
            text-align: center;
             
             
            
             
             
         }
         .col-6{
            background-color: rgb(73, 212, 205);
            text-align: center;
                 
                      
         }
         .col-12{
            background-color: rgb(73, 212, 205);
            text-align: center;  
             
                      
         }
         .col-md-8{
             background-color: rgb(73, 212, 205);
             text-align: center;     
                      
         } 